<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
      <pattern>%coloredLevel %logger{50} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play" level="DEBUG"/>
    <logger name="application" level="DEBUG"/>

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <logger name="io.swagger.converter.ModelConverters" level="OFF"/>
    <logger name="io.swagger.converter.ModelConverterContextImpl" level="OFF"/>
    <logger name="io.swagger.converter.ModelResolver" level="OFF"/>
    <logger name="io.swagger.jackson.ModelResolver" level="OFF"/>
    <logger name="slick.compiler.AssignUniqueSymbols" level="OFF"/>
    <logger name="slick.compiler.CreateResultSetMapping" level="OFF"/>
  <logger name="slick.compiler.CodeGen" level="OFF"/>
    <logger name="slick.compiler.ExpandTables" level="OFF"/>
    <logger name="slick.compiler.FixRowNumberOrdering" level="OFF"/>
    <logger name="slick.compiler.FlattenProjections" level="OFF"/>
    <logger name="slick.compiler.ForceOuterBinds" level="OFF"/>
    <logger name="slick.compiler.HoistClientOps" level="OFF"/>
    <logger name="slick.compiler.MergeToComprehensions" level="OFF"/>
    <logger name="slick.compiler.PruneProjections" level="OFF"/>
    <logger name="slick.compiler.QueryCompiler" level="OFF"/>
    <logger name="slick.compiler.QueryCompilerBenchmark" level="OFF"/>
    <logger name="slick.compiler.RemoveFieldNames" level="OFF"/>
    <logger name="slick.compiler.RewriteDistinct" level="OFF"/>
    <logger name="slick.compiler.RewriteJoins" level="OFF"/>
    <logger name="slick.relational.ResultConverterCompiler" level="OFF"/>
  <logger name="slick.jdbc.JdbcBackend.benchmark" level="OFF"/>
  <logger name="slick.jdbc.JdbcBackend.statement" level="OFF"/>

  <logger name="slick.jdbc.JdbcBackend.parameter" level="DEBUG"/>
    <logger name="slick.basic.BasicBackend.action" level="DEBUG"/>
  <logger name="com.mysql.jdbc" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="ASYNCFILE"/>
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
